td {
    text-align: center;
    width: 70px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    background-color: white;
    margin: 20px;
    padding: 0 20px 20px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    height: 42px;
    background-color: #2B85DA;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}

table {
    border-radius: 10px;
    border: 1px solid grey;
    margin-top: 15px;
    border-collapse: collapse;
    border-spacing: 0;
}

thead {
    background-color: #F4F6F9;
}

tr {
    border-bottom: 1px solid #ccc;
}

.icon {
    width: 25px;
    height: 25px;
}

.expired {
    background-color: #DD5840;

}

.expiring {
    background-color: #FDCD5B;
    color: black;
}

.fresh {
    background-color: #71C47E;
}

.label {
    width: fit-content;
    padding: 2px 10px;
    border-radius: 10px;
    color: white;
}