.recipesListContainer {
  display: flex;
  flex-direction: row;
}

.recipesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px;
}

.recipes-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 per row */
  gap: 1rem;

  /* Let the rows fit their content instead of stretching */
  grid-auto-rows: min-content;

  list-style: none;
  padding: 0;
  margin: 0;
}

.recipe-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  height: auto; /* natural height */
  cursor: pointer;
  padding: 10px;
  gap: 10px;
  align-items: center;
}

.recipe-card img {
  width: 100%;
  height: 150px; /* fixed height optional */
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.createButton {
    height: 42px;
    background-color: #2B85DA;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    width: 30%;
}